* { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
	user-select: none;
} 

html, body, #screenshare { 
	width: 100dvw; 
	height: 100dvh; 
	overflow: hidden; 
} 

#screenshare {
	object-fit: contain; 
	/* image-rendering: pixelated;  */
	contain: strict;
	touch-action: none;
	cursor: none;
}
